<div id="header">
 <%= link_to (image_tag "/stylesheets/images/logo.jpg") ,{:controller => 'ligafuts', :action => 'index'} %>
</div>

<div id="menu">
	<h1>menu</h1>
</div>

<div id="content">
	<h1>content</h1>
</div>

<div id="sub-section">
	<div id="rss_main">
		<div id="rss_top">
		
			<div id="rss_body">
				Contenido
			</div>
			
		<div id="rss_footer">
		</div>
		</div>
	</div>
</div>

<div id="footer">
	<h1>footer</h1>
</div>