<div id="header">
 <%= link_to (image_tag "/stylesheets/images/logo.jpg") ,{:controller => 'ligafuts', :action => 'index'} %>
</div>

<div id="menu">
        <h1>menu</h1>
</div>

<div id="content">
       <object width="550" height="400">
<param name="movie" value="datagrid_TEST.swf">
<embed src="somefilename.swf" width="550" height="400">
</embed>
</object>
</div>

<div id="sub-section">
        <div id="rss_main">
                <div id="rss_top">
								</div>
                        <div id="rss_body">
                        	<script language=javascript src="http://rssfeedreader.com/rss3/rss.php?url=http%3A%2F%2Fespndeportes-akamai.espn.go.com%2Frss%2Fnews%3Fsection%3Dmex%2C&newpage=1&chead=1&atl=1&desc=1&owncss=&eleminate=&auth=1&dts=1&max=5&tlen=0&rnd=1&bt=3&bs=Double&nmb=&ntb=&naf=&nst=&nwd=0&nht=0&dlen=0&lstyle=-1&lc=Blue&bc=Gray&spc=&ims=&tc=&ts=11&tfont=Verdana,+Arial,+Sans-serif">
													</script>
                     		</div>
								<div id="rss_footer">
       					</div>
        </div>
</div>

<div id="footer">
        <h1>footer</h1>
</div>
